#container{
    background-color: rgb(219, 219, 219);
}
.blueButton{
    color: #0800e1 !important;
}
.blueText{
    color: #0800e1;
}

.redButton{
    color: #e90000 !important;
}
.redText{
    color: #e90000 ;
}

.greenButton{
    color: #8ce705 !important;
}
.greenText{
    color: #8ce705;
}

.greyButton{
    color: #979797 !important;
}
.greyText{
    color: #979797;
}

.yellowButton{
    color: #efff00 !important;
}
.yellowText{
    color: #efff00;
}

.text-reminder{
    width: 42%;
}
#texts-reminder{
    display: flex;
    justify-content: space-between;
}
#date{
    display: flex;
    justify-content: space-between;
}
.date-clock{
    width: 42%;
}
#city{
    display: flex;
    justify-content: space-between;
}
.state-city{
    width: 42%;
}
#colors{
    padding: 15px 25px 0px;
}